*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* CSS variable */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar  */
#navbar{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    top: 0px;
    position: relative;
}
/* Navigation Bar : Logo and Image */

#logo{
    margin : 10px 34px;
}

#logo svg{
    height : 59px;
    margin : 3px 6px ;
    color: white;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
    gap :30px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 50px;
    
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
    
}

#navbar ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 3px 22px;
    border-radius: 20px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

.box{
    height: 550px;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeXxlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    object-fit: cover;

}
#para1{
    position: absolute;
    text-align: center;
    top: 330px;
    left: 200px;
    font-size: 30px;
}
#para2{
    position: absolute;
    text-align: center;
    top: 370px;
    left: 280px;
    font-size: 30px;
}
footer{
    text-align: center;
    background-color: black;
    color: whitesmoke;
}

/* Annimation Effect */
.box4{
    margin-top: 100px;
    margin-bottom: 100px;
    /* margin-right: 200px; */
    margin-left: 40%;
    position: relative;
    width: 200px;
    height: 150px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    
}
@keyframes animate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.box4 span{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    /* -webkit-box-reflect: below 0px; */
    background:  linear-gradient(trasparent,transparent, #0004);
}
.box4 span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid white;
    border-radius: 18px;
    height: 100%;
    object-fit: cover;
}